body {
    background: linear-gradient(to bottom, rgb(180, 154, 3), #3f3402);
    /*background-color:rgb(165, 145, 127);*/
    font-family: 'Fugaz One', sans-serif;
    height:900px;
    padding: 0%;
}
header {
    background: #bcd6aa;
    text-align: center;
}
h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 350%;
    color: #0d6130;
}
nav {
    font-variant: small-caps;
    font-size: 150%;
    border: 5px solid rgba(10, 37, 24, 0.301);
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    background: #266440;
    margin: auto;
    width: 60%;

}
a {
    border: 2px solid rgba(3, 53, 30, 0.301);
    border-radius: 10px;
    background-color: rgb(188, 255, 80);
    color: #0d6130;
}
h2 {
    color: purple;
}
#foods {
    background-color: red; 
}
details {
    font-style: italic;
}
summary {
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
}
footer {
    background: #bcd6aa;
    text-align: center;
    position: absolute;
    bottom: 0;
    width:99%;
}